@{
    ViewBag.Title = "Home Page";
}



<div class="row">
  
    <div class="col-md-4">
        <h2>Terminarz</h2>
        <p>
            Tutaj będzie odnośnik do terminarzu
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Terminarz", "Timetable", "Home") </a></p>
    </div>
    <div class="col-md-4">
       <!-- <h2>Klienci</h2>
        <p>Tutaj będzie możliwość wejścia w dane klientów</p>-->
        <a href="Clients"><img src="~/Img/clients.jpg" width="250px" height="250px" alt="tekst alternatywny" /></a>
       <!-- <p><a class="btn btn-default" @Html.ActionLink("Klienci", "Index", "Clients")</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Magazyn</h2>
        <p>Tutaj będzie możliwość sprawdzenia stanu magazynu</p>
        <p><a class="btn btn-default" @Html.ActionLink("Magazyn", "Index", "Storerooms")</a></p>
    </div>

    <div class="col-md-4">
        <h2>Raporty</h2>
        <p>Tutaj będzie możliwość wygenerowania raportów</p>
        <p><a class="btn btn-default" @Html.ActionLink("Raporty", "Reports", "Home")</a></p>
    </div>


</div>