@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <!-- <body background="http://www.domowe-tygrysy.info/vardata/firma/10000144.jpg" align=center>align=center</body>|-->
    <div class="col-md-4">
        <h2>Terminarz</h2>
        <p>
            Tutaj będzie odnośnik do terminarzu
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Terminarz", "Timetable", "Home") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Klienci</h2>
        <p>Tutaj będzie możliwość wejścia w dane klientów</p>
        <p><a class="btn btn-default" @Html.ActionLink("Klienci", "Index", "Clients")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Magazyn</h2>
        <p>Tutaj będzie możliwość sprawdzenia stanu magazynu</p>
        <p><a class="btn btn-default" @Html.ActionLink("Magazyn", "Storeroom", "Home")</a></p>
    </div>

    <div class="col-md-4">
        <h2>Raporty</h2>
        <p>Tutaj będzie możliwość wygenerowania raportów</p>
        <p><a class="btn btn-default" @Html.ActionLink("Raporty", "Reports", "Home")</a></p>
    </div>


</div>